<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml"
>

<head th:fragment="htmlhead">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" type="image/png" th:href="@{/static/images/favicon.png}"/>

    <title th:text="${title}">(title)</title>
    <link th:href="@{/static/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/webjarslocator/bootstrap/dist/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/starter.css}" rel="stylesheet"/>
</head>

<body>
<div th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">点击显示更多</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/book/}">会议室预定系统</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/index}">首页</a></li>
                <li></li>
                <li></li>
                <li></li>
                <li class="active"><a th:inline="text" th:id="username" th:if="${#httpServletRequest.remoteUser}">Hello
                    [[${#httpServletRequest.remoteUser}]],欢迎使用会议室预定系统</a>
                    <a th:if="${#httpServletRequest.remoteUser == null}">欢迎使用会议室预定系统!</a>
                </li>
                <li>
                    <ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/login}">Login</a></li>
                    </ul>
                <li></li>
                <li>
                    <ul sec:authorize="!isAnonymous()" class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/logout}">Sign Out</a></li>
                    </ul>
                </li>
                <li class="nav navbar-nav navbar-right"><a
                        href="javascript:alert('会议室管理与预定系统（试运行版）\r遇到问题请友善地与辛勤工作的管理员联系~')">关于</a></li>
                <li class="nav navbar-nav navbar-right"><a th:href="@{/admin/index}">管理员专用</a></li>
            </ul>
        </div>
    </div>

</div>


<div th:fragment="navbar-admin" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/book/}">预定管理</a>
            <a class="navbar-brand" th:href="@{/meetingroom}">会议室管理</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:">管理</a></li>
                <li><a href="javascript:alert('会议室管理与预定系统（试运行版）\r遇到问题请友善地与辛勤工作的管理员联系~')">关于</a></li>
                <li class="active"><a th:inline="text" th:if="${#httpServletRequest.remoteUser}">[[${#httpServletRequest.remoteUser}]],
                    Now You Rule!</a></li>
                <li></li>
                <li></li>
                <li><a class="navbar-brand" data-toggle="modal" data-target="#registerModal">注册新用户</a></li>
                <li></li>
                <li><a class="nav navbar-nav navbar-right" th:href="@{/logout}">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="starter-template">
        <h1>会议室预定系统</h1>
        <p class="lead" th:text="${greeting}">(greeting)</p>
    </div>
</div>

<div th:fragment="footer" id="footer">

    <div class="container">

        <footer>
            <!-- this is footer -->
            © 2017 yhjs
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>
        </footer>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="registerModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="regDepartment">部门</label>
                        <select class="form-control" id="regDepartment">
                            <option selected>技术部</option>
                            <option>金融部</option>
                            <option>市场运营部</option>
                            <option>行政人事部</option>
                            <option>财务部</option>
                            <option>品宣部</option>
                            <option>总经办</option>
                            <option>其他</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="regRealName">中文名</label>
                        <input type="text" class="form-control" id="regRealName">
                    </div>
                    <div class="form-group">
                        <label for="regEnglishName">账号（5-15位字母数字）</label>
                        <input type="text" class="form-control" id="regEnglishName">
                    </div>
                    <div class="form-group">
                        <label for="regPassword">密码（包含字母、数字 [6-20]位）</label>
                        <input type="password" class="form-control" id="regPassword">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="addEmployee" type="button" class="btn btn-primary" data-dismiss="modal"
                    >注册
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="addActivityModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>新增活动</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="regDepartment">活动名称</label>
                        <input type="text" class="form-control" id="activityNameA">
                    </div>
                    <div class="form-group">
                        <label for="regRealName">活动开始时间</label>
                        <input type="text" class="form-control" id="startTimeA"
                               th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd 09:00:00')}">
                    </div>
                    <div class="form-group">
                        <label for="regEnglishName">报名开始时间</label>
                        <input type="text" class="form-control" id="applyBeginTimeA"
                               th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd 09:00:00')}">
                    </div>
                    <div class="form-group">
                        <label for="regEnglishName">报名结束时间</label>
                        <input type="text" class="form-control" id="applyEndTimeA"
                               th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd 18:00:00')}">
                    </div>
                    <div class="form-group">
                        <label for="regEnglishName">活动简介</label>
                        <textarea class="form-control" rows="3" id="remarkA"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="addActivity">新增</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         id="auditMeetingroomBookModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>审核会议预定</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="idD"/>
                    </div>
                    <div class="form-group">
                        <label>申请部门</label>
                        <input type="text" class="form-control" id="deptNameD"/>
                    </div>
                    <div class="form-group">
                        <label>会议室名称</label>
                        <input type="text" class="form-control" id="roomNameD"/>
                    </div>
                    <div class="form-group">
                        <label>预定原因</label>
                        <input type="text" class="form-control" id="bookReasonD"/>
                    </div>
                    <div class="form-group">
                        <label>会议开始时间</label>
                        <input type="text" class="form-control" id="startTimeD"/>
                    </div>
                    <div class="form-group">
                        <label>会议结束时间</label>
                        <input type="text" class="form-control" id="endTimeD"/>
                    </div>
                    <div class="form-group">
                        <label>备注</label>
                        <textarea class="form-control" rows="3" id="remarkD"></textarea>
                    </div>
                    <div class="form-group">
                        <label>审核状态(请输入审核意见：0待审核，1审核通过，2审核不通过)</label>
                        <input type="text" class="form-control" id="auditStatusD"/>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="editAuditMrBook">更新
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/webjarslocator/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjarslocator/bootstrap/js/bootstrap.min.js}"></script>
    <script th:inline="javascript">
        var basePath = /*[[@{/}]]*/ '';
        var employeeBasePath = "http://localhost:8080/employee";

        //密码复杂要求：要求包含字母、数字。至少6位，至多20位
        function checkValidPass(s) {
            //返回'OK'表示合格
            if (s.length < 6)
                return '少于6位的密码可不能够！';
            if (s.length > 20)
                return '您的密码长度超过全国99.99%的人民，请设置小于20位~';
            if (!s.match(/[0-9]/))
                return '密码中必须包含数字';
            if (!s.match(/[a-zA-Z]/))
                return '密码中必须包含字母';
            return 'OK';
        }

        function isValidEnglishname(name) {
            var regex = /^[0-9A-Za-z_]{5,15}$/;
            return regex.exec(name)
        }

        $("#addEmployee").click(function () {
            var regRealName = $("#regRealName").val();
            var regEnglishName = $("#regEnglishName").val();
            var regPassword = $("#regPassword").val();
            if (regRealName == '') {
                alert("请先填写您的真实姓名");
                return;
            }
            if (!isValidEnglishname(regEnglishName)) {
                alert("账号请输入5-15位字母数字组合");
                return;
            }

            var passInfo = checkValidPass(regPassword);
            if (passInfo != 'OK') {
                alert(passInfo);
                return;
            }
            var regDepartment = $("#regDepartment").val();

            console.log(regDepartment);
            $.ajax({
                type: "POST",
                async: false,
                url: employeeBasePath + "/add",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    department: regDepartment,
                    realName: regRealName,
                    englishName: regEnglishName,
                    password: regPassword
                }),
                success: function (data, status) {
                    alert(data.m);
                }
            });
            window.location.reload();
        });


        $("#addActivity").click(function () {
            var activityNameA = $("#activityNameA").val();
            var startTimeA = $("#startTimeA").val();
            var applyBeginTimeA = $("#applyBeginTimeA").val();
            var applyEndTimeA = $("#applyEndTimeA").val();
            if (activityNameA == '') {
                alert("活动名不能为空");
                return;
            }
            if (startTimeA == '') {
                alert("活动开始时间不能为空");
                return;
            }
            if (applyBeginTimeA == '') {
                alert("报名开始时间不能为空");
                return;
            }
            if (applyEndTimeA == '') {
                alert("报名结束时间不能为空");
                return;
            }
            var remarkA = $("#remarkA").val();
            $.post(basePath + "admin/addActivity",
                {
                    activityName: activityNameA,
                    startTime: startTimeA,
                    applyBeginTime: applyBeginTimeA,
                    applyEndTime: applyEndTimeA,
                    remark: remarkA
                }, function (data, status) {
                    if (data.c == '100') {
                        alert("活动创建成功");
                    } else {
                        alert(data.m);
                    }
                });
        });

    </script>
</div>

</body>
</html>