<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="shortcut icon" type="image/png" th:href="@{/static/images/favicon.png}"></link>

    <title th:text="${title}">(title)</title>

    <link th:href="@{/webjarslocator/bootstrap/dist/css/bootstrap.css}" rel="stylesheet"></link>
    <link th:href="@{/static/css/starter.css}" rel="stylesheet"></link>
</head>

<body>
<div th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/meetingroom/book/}">预定管理</a>
            <a class="navbar-brand" th:href="@{/meetingroom}">会议室管理系统</a>
            <a class="navbar-brand" th:href="@{/meetingroom/book/}">会议预定系统</a>

        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:">首页</a></li>
                <li><a href="javascript:" data-toggle="modal" data-target="#registerModal">注册</a></li>
                <li><a th:href="@{/admin/index}">管理</a></li>
                <li><a href="javascript:alert('你猜怎么着！？我没写关于！')">关于</a></li>
            </ul>
        </div>
    </div>
</div>
<div th:fragment="navbar-admin" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/meetingroom/book/}">预定管理</a>
            <a class="navbar-brand" th:href="@{/meetingroom}">会议室管理</a>

        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:">管理</a></li>
                <li><a href="javascript:" data-toggle="modal" data-target="#addActivityModal">新增活动</a></li>
                <li><a href="javascript:" data-toggle="modal" data-target="#registerModal">注册</a></li>
                <li><a href="javascript:alert('你猜怎么着！？我没写关于！')">关于</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="starter-template">
        <h1>简易报名系统</h1>
        <p class="lead" th:text="${greeting}">(greeting)</p>
    </div>
</div>

<div th:fragment="footer" id="footer">
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="registerModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>只需登记一次</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="regDepartment">部门</label>
                        <select class="form-control" id="regDepartment">
                            <option selected>技术部</option>
                            <option>金融部</option>
                            <option>市场运营部</option>
                            <option>行政人事部</option>
                            <option>财务部</option>
                            <option>品宣部</option>
                            <option>总经办</option>
                            <option>其他</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="regRealName">姓名</label>
                        <input type="text" class="form-control" id="regRealName">
                    </div>
                    <div class="form-group">
                        <label for="regEnglishName">英文名</label>
                        <input type="text" class="form-control" id="regEnglishName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="addEmployee">注册</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="addActivityModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>新增活动</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="regDepartment">活动名称</label>
                        <input type="text" class="form-control" id="activityNameA">
                    </div>
                    <div class="form-group">
                        <label for="regRealName">活动开始时间</label>
                        <input type="text" class="form-control" id="startTimeA"
                               th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd 09:00:00')}">
                    </div>
                    <div class="form-group">
                        <label for="regEnglishName">报名开始时间</label>
                        <input type="text" class="form-control" id="applyBeginTimeA"
                               th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd 09:00:00')}">
                    </div>
                    <div class="form-group">
                        <label for="regEnglishName">报名结束时间</label>
                        <input type="text" class="form-control" id="applyEndTimeA"
                               th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd 18:00:00')}">
                    </div>
                    <div class="form-group">
                        <label for="regEnglishName">活动简介</label>
                        <textarea class="form-control" rows="3" id="remarkA"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="addActivity">新增</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="updateMeetingroomModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>更新会议室信息</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="idC"/>
                    </div>
                    <div class="form-group">
                        <label for="roomnameC">会议室名称</label>
                        <input type="text" class="form-control" id="roomnameC"
                        />
                    </div>
                    <div class="form-group">
                        <label for="meetingroomCapacityC">可容纳人数</label>
                        <input type="text" class="form-control" id="meetingroomCapacityC"
                        />
                    </div>
                    <div class="form-group">
                        <label for="meetingroomStatusC">可使用状态（不可使用请填1）</label>
                        <input type="text" class="form-control" id="meetingroomStatusC"
                        />
                    </div>
                    <div class="form-group">
                        <label for="meetingroomRemarkC">备注</label>
                        <textarea class="form-control" rows="3" id="meetingroomRemarkC"
                        />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="updateMeetingroom">更新
                    </button>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="addMeetingroomModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>新增会议室</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="roomnameA">会议室名称</label>
                        <input type="text" class="form-control" id="roomnameA">
                    </div>
                    <div class="form-group">
                        <label for="meetingroomCapacityA">可容纳人数</label>
                        <input type="text" class="form-control" id="meetingroomCapacityA"
                               th:value="${10}">
                    </div>
                    <div class="form-group">
                        <label for="meetingroomStatusA">可使用状态（不可使用请填1）</label>
                        <input type="text" class="form-control" id="meetingroomStatusA"
                               th:value="${0}">
                    </div>
                    <div class="form-group">
                        <label for="meetingroomRemarkA">备注</label>
                        <textarea class="form-control" rows="3" id="meetingroomRemarkA"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="addMeetingroom">新增</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         id="auditMeetingroomBookModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>审核会议预定</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="idD"/>
                    </div>
                    <div class="form-group">
                        <label>申请人</label>
                        <input type="text" class="form-control" id="realNameD"/>
                    </div>
                    <div class="form-group">
                        <label>会议室名称</label>
                        <input type="text" class="form-control" id="roomnameD"/>
                    </div>
                    <div class="form-group">
                        <label>预定原因</label>
                        <input type="text" class="form-control" id="bookReasonD"></input>
                    </div>
                    <div class="form-group">
                        <label>会议开始时间</label>
                        <input type="text" class="form-control" id="startTimeD"/>
                    </div>
                    <div class="form-group">
                        <label>会议结束时间</label>
                        <input type="text" class="form-control" id="endTimeD"/>
                    </div>
                    <div class="form-group">
                        <label>备注</label>
                        <textarea class="form-control" rows="3" id="remarkD"></textarea>
                    </div>
                    <div class="form-group">
                        <label>审核状态(请输入审核意见：0待审核，1审核通过，2审核不通过)</label>
                        <input type="text" class="form-control" id="auditStatusD"></input>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="auditMeetingroomBook">更新
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <p class="muted credit">觉得丑？不要在意这些细节嘛～老铁</p>
    </div>
    <script th:src="@{/webjarslocator/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjarslocator/bootstrap/js/bootstrap.min.js}"></script>
    <script th:inline="javascript">
        var basePath = /*[[@{/}]]*/ '';
        var meetingroomPath = "http://localhost:8080/meetingroom"

        $("#addMeetingroom").click(function () {
            var roomnameA = $("#roomnameA").val();
            var meetingroomCapacityA = $("#meetingroomCapacityA").val();
            var meetingroomStatusA = $("#meetingroomStatusA").val();
            var meetingroomRemarkA = $("#meetingroomRemarkA").val();
            if (roomnameA == '') {
                alert("会议室名不能为空");
                return;
            }
            if (meetingroomCapacityA == '') {
                alert("会议室可容纳人数不能为空");
                return;
            }
            if (meetingroomStatusA != '不可使用' || meetingroomStatusA != '1') {
                meetingroomStatusA != '1'
            } else {
                meetingroomStatusA = '0'
            }

            $.ajax({
                type: "POST",
                async: false,
                url: meetingroomPath + "/add",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    roomname: roomnameA,
                    capacity: meetingroomCapacityA,
                    status: meetingroomStatusA,
                    remark: meetingroomRemarkA
                }),
                success: function (data, status) {
                    if (data.c == '100') {
                        alert("会议室创建成功");
                    } else {
                        alert(data.m);
                    }
                }
            });
            window.location.reload();
        });

        function auditMeetingroomBook(obj) {
            var id = $(obj).attr("id");
            id = id.substring(5);
            console.log("id is " + id);
            $.ajax({
                url: meetingroomPath + "/book/audit?id=" + id,
                type: "get",
                dataType: "json",
                success: function (resData) {
                    $('#idD').val(resData.id);
                    $('#realNameD').val(resData.realName);
                    $('#roomnameD').val(resData.roomname);
                    $('#bookReasonD').val(resData.bookReason);
                    $('#startTimeD').val(resData.meetingBeginTime);
                    $('#endTimeD').val(resData.meetingEndTime);
                    $('#remarkD').val(resData.remark);
                    $('#auditStatusD').val(resData.auditStatus);
                }
            });
        };

        $("#auditMeetingroomBookModal").click(function () {
            var auditStatusD = $("#auditStatusD").val();
            var idD = $("#idD").val();
            if (auditStatusD == '') {
                alert("审核意见不能为空");
                return;
            }

            if (auditStatusD == '通过') {
                auditStatusD = '1';
            }

            if (auditStatusD == '不通过') {
                auditStatusD = '2';
            }

            if (auditStatusD != '0' && auditStatusD != '1' && auditStatusD != '2') {
                alert("请输入审核意见：0待审核，1审核通过，2审核不通过");
                return;
            }

            $.post(meetingroomPath + "/book/editAudit",
                {
                    id: idD,
                    auditStatus: auditStatusD
                }, function (data, status) {
                    if (data.c == '100') {
                        alert("审核状态修改成功");
                    } else {
                        alert(data.m);
                    }
                });
            window.location.reload();
        });

        $("#addEmployee").click(function () {
            var regRealName = $("#regRealName").val();
            var regEnglishName = $("#regEnglishName").val();
            if (regRealName == '') {
                alert("请先填写您的真实姓名");
                return;
            }
            if (regEnglishName == '') {
                alert("请先填写您的英文名");
                return;
            }
            var regDepartment = $("#regDepartment").val();
            $.post(basePath + "addEmployee",
                {
                    department: regDepartment,
                    englishName: regEnglishName,
                    realName: regRealName
                }, function (data, status) {
                    if (data.c == '100') {
                        alert("登记成功");
                    } else {
                        alert(data.m);
                    }
                });
        });
        $("#addActivity").click(function () {
            var activityNameA = $("#activityNameA").val();
            var startTimeA = $("#startTimeA").val();
            var applyBeginTimeA = $("#applyBeginTimeA").val();
            var applyEndTimeA = $("#applyEndTimeA").val();
            if (activityNameA == '') {
                alert("活动名不能为空");
                return;
            }
            if (startTimeA == '') {
                alert("活动开始时间不能为空");
                return;
            }
            if (applyBeginTimeA == '') {
                alert("报名开始时间不能为空");
                return;
            }
            if (applyEndTimeA == '') {
                alert("报名结束时间不能为空");
                return;
            }
            var remarkA = $("#remarkA").val();
            $.post(basePath + "admin/addActivity",
                {
                    activityName: activityNameA,
                    startTime: startTimeA,
                    applyBeginTime: applyBeginTimeA,
                    applyEndTime: applyEndTimeA,
                    remark: remarkA
                }, function (data, status) {
                    if (data.c == '100') {
                        alert("活动创建成功");
                    } else {
                        alert(data.m);
                    }
                });
        });

        $("#addMeetingroom").click(function () {
            var roomnameA = $("#roomnameA").val();
            var meetingroomCapacityA = $("#meetingroomCapacityA").val();
            var meetingroomStatusA = $("#meetingroomStatusA").val();
            var meetingroomRemarkA = $("#meetingroomRemarkA").val();
            if (roomnameA == '') {
                alert("会议室名不能为空");
                return;
            }
            if (meetingroomCapacityA == '') {
                alert("会议室可容纳人数不能为空");
                return;
            }
            if (meetingroomStatusA != '不可使用' || meetingroomStatusA != '1') {
                meetingroomStatusA != '1'
            } else {
                meetingroomStatusA = '0'
            }

            $.ajax({
                type: "POST",
                async: false,
                url: meetingroomPath + "/add",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    roomname: roomnameA,
                    capacity: meetingroomCapacityA,
                    status: meetingroomStatusA,
                    remark: meetingroomRemarkA
                }),
                success: function (data, status) {
                    if (data.c == '100') {
                        alert("会议室创建成功");
                    } else {
                        alert(data.m);
                    }
                }
            });
            window.location.reload();
        });

        function editInfo(obj) {
            var id = $(obj).attr("id");
            id = id.substring(6);

            var roomname = document.getElementById("roomname" + id).innerText;
            var capacity = document.getElementById("capacity" + id).innerText;
            var status = document.getElementById("status" + id).innerText;
            var remark = document.getElementById("remark" + id).innerText;

            $('#idC').val(id);
            $('#roomnameC').val(roomname);
            $('#meetingroomCapacityC').val(capacity);
            $('#meetingroomStatusC').val(status);
            $('#meetingroomRemarkC').val(remark);
        };

        $('#updateMeetingroom').click(function () {

            var idC = $("#idC").val();
            var roomnameC = $("#roomnameC").val();
            var meetingroomCapacityC = $("#meetingroomCapacityC").val();
            var meetingroomStatusC = $("#meetingroomStatusC").val();
            var meetingroomRemarkC = $("#meetingroomRemarkC").val();
            if (roomnameC == '') {
                alert("会议室名不能为空");
                return;
            }
            if (meetingroomCapacityC == '') {
                alert("会议室可容纳人数不能为空");
                return;
            }
            if (meetingroomStatusC == '不可使用' || meetingroomStatusC == '1') {
                meetingroomStatusC = '1'
            } else {
                meetingroomStatusC = '0'
            }

            $.ajax({
                type: "POST",
                async: false,
                url: meetingroomPath + "/update",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    id: idC,
                    roomname: roomnameC,
                    capacity: meetingroomCapacityC,
                    status: meetingroomStatusC,
                    remark: meetingroomRemarkC
                }),
                success: function (data, status) {
                    if (data.c == '100') {
                        alert("会议室更新成功！");
                    } else {
                        alert(data.m);
                    }
                }
            });
            window.location.reload();
        });


        function delInfo(obj) {
            var id = $(obj).attr("id");
            id = id.substring(3);
            var roomname = document.getElementById("roomname" + id).innerText;

            if (confirm("确认要删除" + roomname + "?")) {
                $.post(meetingroomPath + "/delete",
                    {
                        id: id
                    }, function (data, status) {
                        if (data.c == '100') {
                            alert("会议室: " + roomname + "删除成功");
                        } else {
                            alert(data.m);
                        }
                    });

                window.location.reload();
            }
            ;

        };

        function cancelMeetingroomBook(obj) {
            var id = $(obj).attr("id");
            id = id.substring(6);

            if (confirm("确认要取消预定?")) {
                $.post(meetingroomPath + "/book/cancel",
                    {
                        id: id
                    }, function (data, status) {
                        if (data.c == '100') {
                            alert("取消成功");
                        } else {
                            alert(data.m);
                        }
                    });

                window.location.reload();
            }
            ;

        };

        $(function () {
            $('#addMeetingroomBookModal').on('show.bs.modal', function () {

                $.get(meetingroomPath + "/listRoomname",
                    function (data, status) {
                        if (data.c == '100') {
                            alert("会议室名单获取成功");
                        } else {
                            alert(data.m);
                        }
                    });

            })
        });


    </script>
</div>

</body>
</html>