<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='管理'"></head>

<body>
<div th:replace="layout :: navbar-admin">(navbar)</div>

<div class="container-fluid">
    <div class="starter-template">
        <h1>预定管理</h1>
        <p>The current time is <span th:text="${currentTime}">(time)</span></p>
    </div>

    <li>
        <a>
            <select id="deptId">
                <option th:each="dept : ${deptList}"
                        th:value="${dept.id}" th:text="${dept.deptName}">...
                </option>
            </select>
        </a>
        <br>
        会议开始时间：<a><input id="minutesAfterNow" type="number" max="1440" min="1" value="10"></a>分钟后
        <br>会议时长<a><input id="duration" type="number" max="60" min="1" value="30"
    ></input></a>分钟
        <button type="button" class="btn btn-default" id="speedMeetingroomBook">1号会议室极速预定</button>
    </li>
    <div>
        <li><a th:href="@{'/book/newBook'}"/>新增预定</li>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>申请部门</th>
            <th>会议室名</th>
            <th>审核状态</th>
            <th>会议开始时间</th>
            <th>会议结束时间</th>
            <th>会议状态</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mrb : ${page.list}">
            <td th:id="'deptName'+${mrb.deptName}" th:text="${mrb.deptName}">...</td>
            <td th:id="'mbrRoomName'+${mrb.roomName}" th:text="${mrb.roomName}">...</td>
            <td th:id="'auditStatus'+${mrb.auditStatus}" th:text="${mrb.auditStatus}">...</td>
            <td th:text="${#dates.format(mrb.meetingBeginTime,'yyyy-MM-dd HH:mm:ss')}">...</td>
            <td th:text="${#dates.format(mrb.meetingEndTime,'yyyy-MM-dd HH:mm:ss')}">...</td>
            <td th:id="'status'+${mrb.status}" th:text="${mrb.status}">...</td>
            <td class="btn btn-default"><a th:href="@{'/book/editBook?id='+${mrb.id}}"/>
                    编辑预定
            </td>
            <td class="delete" th:id="'cancel'+${mrb.id}"
                class="btn btn-danger" type="button"
                onclick="cancelMeetingroomBook(this)">取消预定
            </td>
            <!--<td class="audit" data-toggle="modal" data-target="#auditMeetingroomBookModal"-->
            <!--class="btn btn-primary" type="button" th:id="'audit'+${mrb.id}"-->
            <!--onclick="auditMeetingroomBook(this)">审核预定-->
            <!--</td>-->
        </tr>
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous"><a th:href="@{'/book/list?pageNum='+${page.prePage}}"><span
                    aria-hidden="true">&larr;</span> 上一页</a></li>
            <li class="next"><a th:href="@{'/book/list?pageNum='+${page.nextPage}}">下一页 <span
                    aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>
<script th:inline="javascript">

    var mrbPath = "http://localhost:8080/book"

    var basePath = /*[[@{/}]]*/ '';
    $("#speedMeetingroomBook").click(function () {


        var minutesAfterNow = $("#minutesAfterNow").val();

        if (minutesAfterNow > 1440) {
            alert("一天后的预定也需要极速预定嘛？请使用新增预定功能吧~")
            return;
        }

        var duration = $("#duration").val();


        if (duration > 60) {
            alert("极速预定使用时间不能超过1个小时~")
            return;
        }
        var deptId = $("#deptId").val();

        alert(deptId + "||dura" + duration + "||minsAfter" + minutesAfterNow)

        $.post(mrbPath + "/speedMeetingroomBook",
            {
                deptId: deptId,
                minutesAfterNow: minutesAfterNow,
                duration: duration
            }, function (data, status) {
                if (data.c == '100') {
                    alert("极速预定成功！");
                } else {
                    alert(data.m);
                }
            });
    });


    /**
     * 根据id获取需审核的预定信息
     * @param obj
     */
    function auditMeetingroomBook(obj) {
        var id = $(obj).attr("id");
        id = id.substring(5);
        $.ajax({
            url: mrbPath + "/audit?id=" + id,
            type: "get",
            dataType: "json",
            success: function (resData) {
                $('#idD').val(resData.id);
                $('#deptNameD').val(resData.deptName);
                $('#roomNameD').val(resData.roomName);
                $('#bookReasonD').val(resData.bookReason);
                $('#startTimeD').val(resData.meetingBeginTime);
                $('#endTimeD').val(resData.meetingEndTime);
                $('#remarkD').val(resData.remark);
                $('#auditStatusD').val('');
            }
        });
    };

    /**
     * 审核预定检查并提交
     */
    $("#editAuditMrBook").click(function () {
        var auditStatusD = $("#auditStatusD").val();
        var idD = $("#idD").val();
        if (auditStatusD == '') {
            alert("审核意见不能为空");
            return;
        }
        if (auditStatusD == '通过') {
            auditStatusD = '1';
        }
        if (auditStatusD == '不通过') {
            auditStatusD = '2';
        }
        if (auditStatusD != '0' && auditStatusD != '1' && auditStatusD != '2') {
            alert("请输入审核意见：0待审核，1审核通过，2审核不通过");
            return;
        }
        $.post(mrbPath + "/editAudit",
            {
                id: idD,
                auditStatus: auditStatusD
            }, function (data, status) {
                if (data.c == '100') {
                    alert("审核状态修改成功");
                } else {
                    alert(data.m);
                }
            });
        window.location.reload();
    });

    /**
     * 取消预定
     * @param obj
     */
    function cancelMeetingroomBook(obj) {
        var id = $(obj).attr("id");
        id = id.substring(6);

        var changeReason = prompt("请输入取消预订的原因:", "");

        if (changeReason == '') {
            alert("请输入取消预订的原因")
            return;
        }

        $.post(mrbPath + "/cancel",
            {
                id: id,
                changeReason: changeReason
            }, function (data, status) {
                if (data.c == '100') {
                    alert("预订取消成功");
                } else {
                    alert(data.m);
                }
            });

        window.location.reload();

    };

</script>
</body>
</html>
