<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='新增预定'" rel="stylesheet">
</head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<table class="table table-hover" border="0" width="50%">
    <form id="newBook-form" th:action="@{/book/newBook/apply}"
          th:object="${meetingroomBookDetailVO}" method="post">
        <input type="hidden" text="1" th:field="*{id}"/>
        <thead>
        <tr>
            <th width="15%" align="left">栏目</th>
            <th width="35%" align="left">内容</th>
        </tr>
        </thead>
        <tr>
            <div class="form-group">
                <td width="15%"><label>请选择会议室</label></td>
                <td width="35%">
                    <select th:field="*{meetingroomId}">
                        <option th:each="meetingroom : ${roomNameList}"
                                th:value="${meetingroom.id}" th:text="${meetingroom.roomName}">...
                        </option>
                    </select>
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label>请选择部门</label></td>
                <td width="35%">
                    <select th:field="*{deptId}">
                        <option th:each="dept : ${deptList}"
                                th:value="${dept.id}" th:text="${dept.deptName}">...
                        </option>
                    </select>
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label>预定原因</label></td>
                <td width="35%"><input type="text" value="" th:field="*{bookReason}"/></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label>会议开始时间</label></td>
                <td width="35%">
                    <input class="controls input-append date form_datetime" th:type="text"
                           data-date-format="yyyy-mm-dd hh:ss:ii" data-link-field="meetingBeginTime"
                           th:field="*{meetingBeginTime}">
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label>会议结束时间</label></td>
                <td width="35%">
                    <input class="controls input-append date form_datetime" data-date-format="yyyy-mm-dd hh:ss:ii"
                           th:type="text" data-link-field="meetingEndTime" th:field="*{meetingEndTime}">
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label>是否生成周期预定（一周）</label>
                    <input type="checkbox" value="false" onchange="showWeeklyBookEndDate()"
                           th:field="*{isWeeklyBook}"/>
                </td>
                <td width="30%">
                    <input style="display:none" class="controls input-append date form_datetime"
                           data-date-format="yyyy-mm-dd hh:ss:ii" data-link-field="weeklyBookEndDate"
                           th:type="text" th:field="*{weeklyBookEndDate}">
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label>与会人数</label></td>
                <td width="35%"><input type="number" max="999" min="1"
                                       th:field="*{attendNum}"/></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label for="remark">备注</label></td>
                <td width="35%"><textarea id="remark" class="form-control" rows="3" th:field="*{remark}"></textarea>
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group" width="25%">
                <td><input id="addBookBtn" onclick="checkValidBook()" type="button" value="添加新预订"/></td>
            </div>
            <div class="form-group" width="25%">
                <td><input id="returnBookList" type="button" name="Submit" value="返回"
                           onclick="javascript:history.back(-1);"></td>
            </div>
        </tr>
    </form>
</table>


<script type="text/javascript" src="../static/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
        startDate: new Date()
    });


</script>

<script th:src="@{/static/js/newBook.js}"></script>
<script th:inline="javascript">
    var mbrNewBookPath = 'http://localhost:8080/book/newBook';

</script>


</body>
</html>
