<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='编辑会议预定'"></head>

<body>
<div th:replace="layout :: navbar-admin">(navbar)</div>

<table class="table table-hover" border="0" width="50%">
    <form id="updateMrBook-form" th:action="@{/book/update}"
          th:object="${updateMrBook}" method="post">
        <input id="mbdId" type="hidden" th:field="*{id}"></input>
        <!--//TODO需要修改成当前用户id-->
        <input id="employeeId" type="hidden" value="1" th:field="*{employeeId}"></input>
        <thead>
        <tr>
            <th width="15%" align="left">栏目</th>
            <th width="35%" align="left">内容</th>
        </tr>
        </thead>
        <tr>
            <div class="form-group">
                <td width="15%"><label>请选择会议室</label></td>
                <td width="35%">
                    <select th:field="*{meetingroomId}">
                        <option th:each="meetingroom : ${roomNameList}"
                                th:value="${meetingroom.id}" th:text="${meetingroom.roomName}">...
                        </option>
                    </select>
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label>请选择部门</label></td>
                <td width="35%">
                    <select th:field="*{deptId}">
                        <option th:each="dept : ${deptList}"
                                th:value="${dept.id}" th:text="${dept.deptName}">...
                        </option>
                    </select>
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label for="bookReason">预定原因</label></td>
                <td width="35%"><input id="bookReason" type="text" value="" th:field="*{bookReason}"></input></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label>会议开始时间</label></td>
                <td width="35%"><input type="datetime-local" th:field="*{meetingBeginTime}">
                    </input></td>
                <!--th:field="*{meetingBeginTime}"-->
                <td><a th:text="${#dates.format(updateMrBook.meetingBeginTime,'yyyy-MM-dd HH:mm:ss')}"/></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label for="meetingEndTime">会议结束时间</label></td>
                <td width="35%"><input id="meetingEndTime" type="datetime-local"
                                       th:field="*{meetingEndTime}"></input>
                <td><a th:text="${#dates.format(updateMrBook.meetingBeginTime,'yyyy-MM-dd HH:mm:ss')}"/></td>
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label for="attendNum">与会人数</label></td>
                <td width="35%"><input id="attendNum" type="number" max="999" min="1" value=""
                                       th:field="*{attendNum}"></input></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label for="remark">备注</label></td>
                <td width="35%"><textarea id="remark" class="form-control" rows="3" th:field="*{remark}"></textarea>
                </td>
            </div>
        </tr>
        <tr>
            <td>
                <div class="form-group" width="50%">
            <td><input id="updateBookBtn" onclick="checkValidBook()" type="button" value="更新预订"/></td>
            </div>
            </td>
            <td>
                <div>
                    <input id="returnBookList" type="button" name="Submit" value="返回"
                           onclick="javascript:history.back(-1);">
                </div>
            </td>
        </tr>
    </form>
</table>


<div th:include="layout :: footer" id="footer">(footer)</div>
<script th:inline="javascript">

    var meetingroomPath = "http://localhost:8080/meetingroom"

    /**
     * 更新预定检查后提交
     * @returns {boolean}
     */
    function checkValidBook() {
        if (updateBookCheck()) {
            $("#updateMrBook-form").submit();
        }
    }

    function updateBookCheck() {
        var bookReason = $("#bookReason").val();
        var meetingBeginTime = $("#meetingBeginTime").val();
        var meetingEndTime = $("#meetingEndTime").val();
        var attendNum = $("#attendNum").val();
        if (bookReason == '') {
            alert("预定原因不能为空");
            return false;
        }
        if (meetingBeginTime == '') {
            alert("会议开始时间不能为空");
            return false;
        }
        var now = new Date().Format("yyyy-MM-dd hh:mm:ss")

        meetingBeginTime = convertTime(meetingBeginTime);
        meetingEndTime = convertTime(meetingEndTime);

        if (meetingBeginTime < now) {
            alert("穿越回去开会嘛？");
            return false;
        }

        if (meetingEndTime == '') {
            alert("会议结束时间不能为空");
            return false;
        }

        if (meetingBeginTime >= meetingEndTime) {
            alert("开始和结束时间得大于结束时间呀！");
            return false;
        }

        if (attendNum == '' || isNaN(attendNum)) {
            alert("与会人数错误");
            return false;
        }

        return true;
    }

    /**
     * POST提交更新预定表单
     */
    $("#updateMrBook-form").submit(function () {
        $.ajax({
            type: 'POST',
            dataType: "json",
            data: $(this).serialize(),
            url: meetingroomPath + "/book/update",
            success: function (data, status) {
                if (data.c == '100') {
                    alert("会议室预定更新成功");
                    $("#returnBookList").click();
                } else {
                    console.log(data.m);
                    alert(data.m);
                }
            }
        });
        return false;
    });

</script>
</body>
</html>
