<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link href="../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">-->
<head th:include="layout :: htmlhead" th:with="title='编辑会议预定'">
    <link th:href="@{/static/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"></link>
</head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<table class="table table-hover" border="0" width="50%">
    <form id="updateMrBook-form" th:action="@{/book/update}"
          th:object="${updateMrBook}" method="post">
        <input id="mbdId" type="hidden" th:field="*{id}"></input>
        <thead>
        <tr>
            <th width="15%" align="left">栏目</th>
            <th width="35%" align="left">内容</th>
        </tr>
        </thead>
        <tr>
            <div class="form-group">
                <td width="15%"><label>请选择会议室</label></td>
                <td width="35%">
                    <select th:field="*{meetingroomId}">
                        <option th:each="meetingroom : ${roomNameList}"
                                th:value="${meetingroom.id}" th:text="${meetingroom.roomName}">...
                        </option>
                    </select>
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label>请选择部门</label></td>
                <td width="35%">
                    <select th:field="*{deptId}">
                        <option th:each="dept : ${deptList}"
                                th:value="${dept.id}" th:text="${dept.deptName}">...
                        </option>
                    </select>
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label for="bookReason">预定原因</label></td>
                <td width="35%"><input id="bookReason" type="text" value="" th:field="*{bookReason}"></input></td>
            </div>
        </tr>

        <tr>
            <td width="15%"><label>会议开始时间</label></td>
            <td width="35%">
                <input class="controls input-append form_datetime" data-link-field="meetingBeginTime"
                       data-date-format="yyyy-mm-dd hh:ii:ss" th:type="text" th:field="*{meetingBeginTime}">
            </td>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label>会议结束时间</label></td>
                <td width="35%">
                    <input class="controls input-append form_datetime" data-link-field="meetingEndTime" th:type="text"
                           data-date-format="yyyy-mm-dd hh:ii:ss" th:field="*{meetingEndTime}">
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label for="attendNum">与会人数</label></td>
                <td width="35%"><input id="attendNum" type="number" max="999" min="1" value=""
                                       th:field="*{attendNum}"></input></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td width="15%"><label for="remark">备注</label></td>
                <td width="35%"><textarea id="remark" class="form-control" rows="3" th:field="*{remark}"></textarea>
                </td>
            </div>
        </tr>
        <tr>
            <td>
                <div class="form-group" width="50%">
            <td><input id="updateBookBtn" onclick="checkValidBook()" type="button" value="更新预订"/></td>
            </div>
            </td>
            <td>
                <div>
                    <input id="returnBookList" type="button" name="Submit" value="返回"
                           onclick="javascript:history.back(-1);">
                </div>
            </td>
        </tr>
    </form>
</table>


<script type="text/javascript" src="../static/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
        startDate: new Date()
    });
</script>
<script th:src="@{/static/js/updateMRBook.js}"></script>
<script th:inline="javascript">
    var mrBookPath = "http://localhost:8080/book"

    $('#meetingEndTimePicker')
        .datetimepicker()
        .on('changeDate', function (ev) {
            if (ev.date.valueOf() < $('#meetingStartTimePicker').date.valueOf()) {
                alert("先有开始才有结束呀~");
            }
        });

</script>
</body>
</html>
