<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jc.mapper.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.jc.model.Department">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="dept_name" property="deptName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="enable" property="enable" jdbcType="VARCHAR"/>
        <result column="extra" property="extra" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, dept_name, create_time, update_time, enable, extra
    </sql>


    <select id="listValidDepartment" resultType="com.jc.model.Department">
        SELECT
            id,
            dept_name deptName
        FROM department
        WHERE enable = '0'
    </select>


</mapper>